@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700");
* {
    transition: all 0.15s;
    font-family: "Rubik", sans-serif;
}
html,
body {
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;
    user-select: none;
}
body > div#app {
    background: #2f2f2f;
    background: #dfdfdf;
    border-top-right-radius: 10px;
    height: 100%;
    border-top-left-radius: 10px;

    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    -webkit-app-region: no-drag;
    height: 16%;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}
header div:first-child {
    padding-left: 1em;
    font-size: 80%;
    font-weight: 400;
}

header div:last-child {
    -webkit-app-region: no-drag;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    height: 100%;
    color: #2f2f2f;
    width: 20%;
    background: rgba(255, 255, 255, 0.349);
    border-top-right-radius: 10px;
}
header div:last-child:hover {
    transform: scale3d(0.85, 0.85, 0.85);
    font-size-adjust: none;
}
aside {
    display: flex;
    height: 84%;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    padding: 2vw;
}
.tiles {
    color: #dfdfdf;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0.1vh;
    box-sizing: border-box;
    height: 30vw;
    width: 30vw;
    border-radius: 20px;
    flex-direction: column;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.822);
    border: solid thin rgba(44, 28, 28, 0.137);
    overflow: hidden;
    margin: 1vw;
    color: #2f2f2f;
    margin-top: 1em;
}
.tiles:nth-child(n + 4) {
    margin-top: -5%;
}
aside .tiles:hover {
    /*transform: scale3d(0.95, 0.95, 0.95);*/
    background: #2f2f2f;
    color: #fff;
    font-size-adjust: none;
}
aside div:first-child {
    display: flex;
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: 45% auto;
    background-position: 50% 100%;
}
aside .tiles img {
    height: 10em;
}
aside div:last-child {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vh;
    font-size: 70%;
    font-weight: 300;
    font-weight: 500;
}
