@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
	transition: all 0.15s;
	font-family: "Quicksand", sans-serif;
	font-weight: 600;
	font-stretch: condensed;
	image-rendering: crisp-edges;
}
html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	user-select: none;
}
body > div#app {
	background: #2f2f2f;
	background: #fff;
	border-top-right-radius: 10px;
	height: 100%;
	border-top-left-radius: 10px;
	display: flex;
	flex-direction: column;
}
header {
	background: linear-gradient(90deg, #182848 0%, #273a64 100%);
	display: flex;
	justify-content: space-between;
	-webkit-app-region: no-drag;
	min-height: 50px;
	align-items: center;
	box-sizing: border-box;
	overflow: hidden;
}

.userPane {
	display: flex;
}
.profilePic {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
}
.profilePic .imgHolder {
	background: #efefef;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	background-size: cover;
}
.userDetails {
	color: #fff;
	flex: 1;
	flex-direction: column;
	display: flex;
	justify-content: center;
	font-size: 0.8em;
	font-weight: 300;
}
.userDetails span {
	font-weight: 400;
	font-size: 75%;
	opacity: 0.8;
}

#closeBtn {
	-webkit-app-region: no-drag;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	height: 100%;
	color: #fff;
	width: 15%;
}
#closeBtn:hover {
	color: #fff;
	background: #2f2f2f;
	font-size-adjust: none;
}
aside {
	flex: 1;
	background: #efefef;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: auto;
	padding: 2vw;
}
aside content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.tiles {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	height: 100px;
	width: 30%;
	margin: 1em 3% 0 0;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.267);
}
span.tiles div {
	font-size: 3vw;
	font-weight: 600;
}
aside .tiles:hover {
	transition: all 0.15s;
	background: rgba(175, 75, 148, 0.263);
	background: linear-gradient(90deg, #18284830 0%, #273a6430 100%);
}
.iconPic .imgHolder {
	width: 40px;
	height: 40px;
	background-size: auto 100%;
	margin: 5px 0;
}
.loaderClass {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1em;
	animation: loading 3s infinite;
}

@keyframes loading {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*aside div:first-child {
	display: flex;
	width: 100%;
	height: 60%;
	background-repeat: no-repeat;
	background-size: 45% auto;
	background-position: 50% 100%;
}
aside .tiles img {
	background-size: contain;
	height: 10em;
}
aside div:last-child {
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 2vh;
	font-size: 70%;
}*/
